{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "no-console": 0,
    "indent": ["error", 2],
    "quotes": [2, "single"],
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"],
    "sort-imports": [
      "error",
      {
        "ignoreCase": false,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
      }
    ]
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "process": true,
    "it": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
